body {
     margin: 0;
     display: flex;
     justify-content: center;
     height: 100vh;
     background-color: #040404;
     position: relative;
}

::selection {
     background-color: #ff0;
     color: #000;
}

a {
     cursor: pointer;
}

main {
     margin-top: 50px;
}

input[type="file"] {
     display: none;
}

.header {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-bottom: 30px;
}

.header img {
     width: 50px;
}

.title {
     color: #fff;
     font-size: 1.5rem;
}

.upload-container {
     width: 1000px;
}

.upload-frame {
     margin-bottom: 20px;
     outline: 1px solid #353535;
     display: flex;
     border-radius: 20px;
     flex-direction: row;
     padding: 2rem;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
}

.upload-button-container {
     margin-right: 2rem;
     display: flex;
     align-items: center;
     justify-content: center;
}

.custom-upload-btn {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-self: center;
     gap: 15px;
     padding: 10px 15px;
     background-color: #4A40F7;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s;
}

.custom-upload-btn:hover {
     background-color: #372fd6;
}

.image-info {
     color: #fff;
}

.image-preview {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 400px;
     height: auto;
     max-height: 400px;
     outline: 1px solid #353535;
     border-radius: 10px;
     overflow: hidden;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}

.image-preview img {
     width: 100%;
     height: auto;
     background-position: center;
     background-repeat: no-repeat;
}

.description-frame {
     justify-content: center;
     gap: 20px;
     min-height: 100px;
     border-radius: 20px;
     height: auto;
     display: flex;
     padding: 2rem;
     outline: 1px solid #353535;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
}


#imageDescription {
     width: auto;
     height: 100%;
     /* color: #5a5a5a; */
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     margin: 0;
     outline: 1px solid #353535;
     padding: 1rem;
     border-radius: 10px;
}

.placeholder {
     color: #5a5a5a;
}

.caption-container {
     width: 100%;
     min-height: 200px;
     display: flex;
     gap: 20px;
     flex-direction: column;
     justify-content: space-between;
}

.caption-btn {
     display: flex;
     align-items: center;
     justify-self: center;
     width: fit-content;
     font-family: 'Space Mono', monospace;
     text-transform: lowercase;
     font-size: 1rem;
     gap: 15px;
     padding: 10px 20px;
     background-color: #4A40F7;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s;
}

.caption-btn:hover {
     background-color: #372fd6;
}

.caption-btn-container {
     display: flex;
     align-items: center;
     flex-direction: row;
     gap: 20px;
}

.copy-text {
     padding: 10px 20px;
     font-weight: normal;
     font-size: 1rem;
     border: 0;
     border-radius: 5px;
     text-decoration: none;
     color: #6d6d6d;
     align-self: center;
     transition: background-color 0.2s ease, color 0.3s ease;
     -webkit-transition: background-color 0.2s ease, color 0.3s ease;
     -moz-transition: background-color 0.2s ease, color 0.3s ease;
     -ms-transition: background-color 0.2s ease, color 0.3s ease;
     -o-transition: background-color 0.2s ease, color 0.3s ease;
     cursor: pointer;
}

.copy-text:hover {
     color: #ffffff;
}

p {
     margin: 0;
     color: #fff;
}

.back-home-div {
     display: flex;
     justify-content: center;
     justify-content: space-between;
     margin-bottom: 30px;
}

.clear {
     color: #aa3131;
}

.clear:hover {
     color: #e05454;
}

.back-home {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 15px;
     text-decoration: none;
}

.back-arrow {
     background-color: transparent;
     padding-top: 1px;

}

.page-loader {
     width: 100%;
     height: 100%;
     position: absolute;
     background: #000000;
     z-index: 1000;
}

.page-loader .txt {
     color: #ffffff;
     text-align: center;
     top: 40%;
     position: relative;
     text-transform: lowercase;
     letter-spacing: 0.3rem;
     font-weight: normal;
     line-height: 1.5;
}

.spinner {
     position: relative;
     top: 35%;
     width: 80px;
     height: 80px;
     margin: 0 auto;
     background-color: #fff;

     border-radius: 100%;
     -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
     animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
     0% {
          -webkit-transform: scale(0)
     }

     100% {
          -webkit-transform: scale(1.0);
          opacity: 0;
     }
}

@keyframes sk-scaleout {
     0% {
          -webkit-transform: scale(0);
          transform: scale(0);
     }

     100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
     }
}



.res-container {
     width: 10px;
     position: absoulte;
     margin-bottom: 0;
}

.res-row {
     display: -webkit-box;
     /* OLD - iOS 6-, Safari 3.1-6 */
     display: -moz-box;
     /* OLD - Firefox 19 */
     display: -ms-flexbox;
     /* TWEENER - IE 10 */
     display: -webkit-flex;
     /* NEW - Chrome */
     display: flex;
     /* NEW - Opera 12.1, Firefox 20+ */
}

#box {
     -webkit-box-flex: 1;
     /* OLD - iOS 6-, Safari 3.1-6 */
     -moz-box-flex: 1;
     /* OLD - Firefox 19- */
     -webkit-flex: 1;
     /* Chrome */
     -ms-flex: 1;
     /* IE 10 */
     flex: 1;
     width: 100%;
     /* Old syntax, otherwise collapses. */

}

/*...................*/
#block-1 {
     position: relative;
     top: 0;
     Bottom: 0;
     left: 0;
     right: 0;
     background: #f6f6f6;
     height: 100vh;
     width: 100%;
     margin-bottom: 0;
     display: block;
     animation-duration: 1s;
     -webkit-animation-duration: 1s;
     animation-iteration-count: 1;
     animation-timing-function: ease;
     -webkit-animation-timing-function: ease;
}



.b3 {
     position: fixed;
}

/*****************/
#loader-wrap {
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
}

#loading {
     background-color: #000000;
     height: 100%;
     width: 100%;
     position: fixed;
     z-index: 2;
     margin-top: 0px;
     top: 0px;
}

/***************/
#loading-center {
     width: 100%;
     height: 100%;
     position: relative;
}

#loading-center-absolute {
     position: absolute;
     left: 26%;
     top: 38%;
     height: 200px;
     width: 200px;
     margin-top: -100px;
     margin-left: -100px;
}

#object {
     width: 200px;
     height: 200px;
     Background-image: url(https://reech.ca/wp-content/uploads/2017/09/reech-logo-no-text.svg);
     background-repeat: no-repeat;
     margin-right: auto;
     margin-left: auto;
     margin-top: 20px;
}

/***************************/

#object {
     animation: object .8s linear;
     transform-origin: center center;
}

@keyframes object {
     0% {
          transform: scale(0);
          opacity: 0
     }

     50% {
          transform: scale(1.5);
          opacity: 1
     }

     100% {
          transform: scale(1);
          opacity: 1
     }
}

/*********loader line******************/
#loader {
     position: absolute;
     top: 100%;
     left: 50%;
     margin-left: -50px;
     width: 100px;
     height: 3px;
     overflow: hidden;
}

#loader:before,
#loader:after {
     content: '';
     position: absolute;
     top: 0;
     width: 100%;
     height: 3px;
     transform: translate(-100%, 0);
}

#loader:before {
     background-color: #262626;
     animation: loading 3400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#loader:after {
     background-color: #fff;
     animation: loading 2500ms 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes loading {
     75% {
          transform: translate(0, 0);
     }

     100% {
          transform: translate(100%, 0);
     }
}


/***********SLIDE DOWN***************/

.slideDown {
     bottom: 0 !important;
     animation-direction: normal;
     animation-fill-mode: forwards;
     animation-iteration-count: 1;
}

.slideDown {
     animation-name: slideDown;
     -webkit-animation-name: slideDown;

     animation-duration: 1s;
     -webkit-animation-duration: 1s;
     animation-iteration-count: 1;
     animation-timing-function: ease;
     -webkit-animation-timing-function: ease;
     visibility: visible !important;
}

@keyframes slideDown {
     from {
          transform: translateY(0%);
     }

     to {
          transform: translateY(100%);
     }
}

@-webkit-keyframes slideDown {
     from {
          transform: translateY(0%);
     }

     to {
          transform: translateY(100%);
     }
}

/*********************/

.slideInUp {
     animation-name: slideInUp;
     -webkit-animation-name: slideInUp;

     animation-duration: 1s;
     -webkit-animation-duration: 1s;
     animation-iteration-count: 1;
     animation-timing-function: ease-in;
     -webkit-animation-timing-function: ease-in;
     visibility: visible !important;
}

@keyframes slideInUp {
     from {
          transform: translateY(100%);
     }

     to {
          transform: translateY(0%);
     }
}

@-webkit-keyframes slideInUp {
     from {
          transform: translateY(100%);
     }

     to {
          transform: translateY(0%);
     }
}

@keyframes zoomOut {
     from {
          opacity: 1;
     }

     50% {
          opacity: 0;
          transform: scale3d(.3, .3, .3);
     }

     to {
          opacity: 0;
     }
}

.zoomOut {
     animation-name: zoomOut;

     animation-name: zoomOut;
     -webkit-animation-name: zoomOut;

     animation-duration: 2s;
     -webkit-animation-duration: 2s;
     animation-iteration-count: 2;
     animation-timing-function: ease-in-out;
     -webkit-animation-timing-function: ease-in-out;
     visibility: visible !important;
}


/* Hide modal by default */
.modal {
     position: relative;
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.815);
}

/* Style modal content */
.modal-content {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: block;
     max-width: 80%;
     max-height: 80%;
}


/* Close button */
.close {
     position: absolute;
     top: 21%;
     right: 30%;
     color: #fff;
     font-size: 40px;
     cursor: pointer;
}

/* Image container style */
.image-preview {
     cursor: pointer;
}

